@charset "UTF-8";



:root {
    --cor1: #DEEFE7;
    --cor2: #B4BEC9;
    --cor3: #159A9C;
    --cor4: #002333;
}

/*ORGANIZÇÃO DE TABELA DE EXEMPLO NA PRATICA*/
pre{
    background-color: rgb(14, 14, 14);
    color: rgb(119, 74, 161);
    width: 310px;
}
span {
    color: white;
}
.azul {
    color: #7fe7e9;
}
.rosa {
    color: rgb(197, 77, 137);
}
.verde {
    color: rgb(0, 255, 0);
}
.amare {
    color: rgb(255, 255, 65);
}

/*FINAL*/