@charset "utf-8";

body {
 background-image: linear-gradient(to bottom, #DEF0EE ,#9ED6D7 );
 background-attachment: fixed;
 font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 5px 5px 15px #89babb75;
    width: 500px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #025959;
    text-align: center;
    text-shadow: 1px 1px 2px #4a8788;
}

h2 {
    color: #D1645D;
}

h3 {
    color: #6CC5C6;
}
h4 {
    color: #9ED6D7;
}

p {
    text-align: justify;
}
pre{
    background-color: rgb(15, 15, 15);
    color: rgb(167, 104, 226);
    width: 310px;
}
spam {
    color: rgb(197, 77, 137);
}
span {
    color: white;
}